html, body{
    font-family: sans-serif;
    margin: 0 auto;
    padding: 0;
    background-color: #000000;
    color: #EEEEEE;
}.color-blue{
    color: #00ADB5;
}.bg-blue{
    background-color: #00ADB5;
    color: #EEEEEE;
}
.container-fluid{
    max-width: 2000px;
}
.main{
    width: 100%;
    height: 100vh;
    background-color: transparent;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    z-index: 1;
    overflow-y: scroll;
    scrollbar-width: none;
}.offset{
    background-color: #393E46;
    background-image: url(../image/cover.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    background-position: center;
    position: absolute;
    top: 0;
    width: 100%;
    max-width: 2000px;
    height: 100vh;
    opacity: 0.5;
}.profile-pic{
    max-width: 25%;
    max-height: auto;
    image-rendering: high-quality;
}.profile-pic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(90%);
}.background{
    background-color: transparent;
    align-items: flex-start;
    justify-content: center;
    color: #eeeeeebd;
    border: none;
}.links{
    background-color: #171010c9;
    border-radius: 20px;
    border-top: 2px solid #ffffff79;
}.links li{
    background-color: #171010ad;
}.footer{
    width: 100%;
    background-color: #222831;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}.profile-cover{
    background-color: transparent;
    margin: auto;
}.medias li{
    display: inline;
}.medias li img{
    width: 20px;
    height: 25px;
}.reachme li{
    list-style: none;
}.reachme li span, .des{
    color: #ffffff6e;
}.cover{
    background-image: url(../image/covers.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    width: 100%;
}@media only screen and (max-width: 992px){
    .main, .background, .footer{
        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }.img-thumbnail{
        width: 300px;
    }.des{
        text-align: center;
        margin: auto;
    }
}@media only screen and (max-width: 263px) {
    .main, .background, .footer {
        width: 100%;
    }
    .offset, .cover {
        width: 100%;
    }
    body, html {
        width: 100%;
        overflow-x: hidden;
    }
}